# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = wcastand
	email = wcastand@gmail.com
[push]
	autoSetupRemote = true
[core]
	ignorecase = false
